<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Library</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon -->
        <link rel="icon" href="./favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Library</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li><a href="./?p=logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <div class="container content">
            {{CONTENT}}
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright (C) <a href="mail:ralfepoisson@gmail.com">Ralfe Poisson</a> 2014.</p>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/configuration.js"></script>
        <script src="assets/js/utils.js"></script>
        <script src="assets/js/api.js"></script>
        <script src="assets/js/ebooks.js"></script>
        <script src="assets/js/books.js"></script>
        <script src="assets/js/collections.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
