<div class="row">
    <!-- Types -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="type-button btn btn-info" id="type_ebooks" onclick="loadType('ebooks');">eBooks</span>
            <span class="type-button btn btn-info" id="type_books" onclick="loadType('books');">Books</span>
            <span class="type-button btn btn-info" id="type_music" onclick="loadType('music');">Music</span>
            <span class="type-button btn btn-info" id="type_videos" onclick="loadType('videos');">Videos</span>
            <span class="type-button btn btn-info" id="type_series" onclick="loadType('series');">Series</span>
        </div>
    </div>
</div>
<div class="row">
    <!-- eBooks -->
    <div id="area_ebooks" class="area">
        <!-- Collections -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <span id="ebooks_collections_list"></span>
                <button class="btn btn-primary" data-toggle="modal" data-target="#newCollectionModal"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-warning" data-toggle="modal" data-target="#ebookScanPathModal"><i class="glyphicon glyphicon-inbox"></i></button>
            </div>
        </div>
        <!-- Items -->
        <button class="btn btn-default" data-toggle="modal" data-target="#newEbookModal"><i class="glyphicon glyphicon-plus"></i></button>
        <button class="btn btn-default" data-toggle="modal" data-target="#newCollectionModal"><i class="glyphicon glyphicon-refresh"></i></button>
        <div id="ebooks_list"></div>
    </div>
    
    <!-- Books -->
    <div id="area_books" class="area">
        <!-- Collections -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <span id="books_collections_list"></span>
                <button class="btn btn-primary" data-toggle="modal" data-target="#newCollectionModal"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
        <!-- Items -->
        <button class="btn btn-default" data-toggle="modal" data-target="#newBookModal"><i class="glyphicon glyphicon-plus"></i></button>
        <button class="btn btn-default" onclick="refresh_books();"><i class="glyphicon glyphicon-refresh"></i></button>
        <div id="books_list"></div>
    </div>
</div>

<!-- -------------------------------------------------------------
Modal: Scan Path for eBooks
------------------------------------------------------------- -->
<div class="modal fade" id="ebookScanPathModal" tabindex="-1" role="dialog" aria-labelledby="ebookScanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="ebookScanLabel">Scan Path for eBooks</h4>
            </div>
            <div class="modal-body">
                <!-- Path -->
                <div class="form-group">
                    <label for="newEbookPath">Path to eBook File</label>
                    <input type="text" class="form-control" id="ebookScanPath" placeholder="/path/to/dir/">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="scanForEbooks();">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------------
Modal: New eBook
------------------------------------------------------------- -->
<div class="modal fade" id="newEbookModal" tabindex="-1" role="dialog" aria-labelledby="newEbookLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="newEbookLabel">New eBook</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="newEbookCollectionId" value="0">

                <!-- Name -->
                <div class="form-group">
                    <label for="newEbookName">eBook Name</label>
                    <input type="text" class="form-control" id="newEbookName" placeholder="My eBook">
                </div>

                <!-- Path -->
                <div class="form-group">
                    <label for="newEbookPath">Path to eBook File</label>
                    <input type="text" class="form-control" id="newEbookPath" placeholder="/path/to/file.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addEbook();">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------------
Modal: New Book
------------------------------------------------------------- -->
<div class="modal fade" id="newBookModal" tabindex="-1" role="dialog" aria-labelledby="newBookLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="newBookLabel">New Book</h4>
            </div>
            <div class="modal-body">
            	<p class="bg-info" id='book_added_message' style='display:none;'>
            		The book has been added successfuly. You may add another.
            	</p>
                <input type="hidden" id="newBookCollectionId" value="0">

                <!-- ISBN -->
                <div class="form-group">
                    <label for="newEbookName">ISBN</label>
                    <input type="number" class="form-control" id="newBookISBN" onKeyPress="process_new_isbn(event, this)" placeholder="0000000000000">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addBook();">Add</button>
            </div>
        </div>
    </div>
</div>
