/**
 * TinyVMC Default Project Styles
 *
 * @author Ralfe Poisson <ralfepoisson@gmail.com>
 * @copyright Copyright (c) Ralfe Poisson 2014
 * @version 1.0
 */

/* Page Layout
-------------------------------------------------- */

.content {
    margin-top: 73px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    text-align: center;
}

/* Custom Elements
---------------------------------------------------- */

.type_button {
    cursor: pointer;
    padding: 15px;
    margin-top: 5px;
    background-color: #D1D1D1;
    border: 2px solid #B1B1B1;
    margin-right: 5px;
}

.type_button_active {
    cursor: pointer;
    padding: 15px;
    margin-top: 5px;
    background-color: #D1D1D1;
    border: 2px solid #B1B1B1;
    margin-right: 5px;
    font-weight: bold;
}

.area {
    display: none;
}

.area_active {
    display: block;
}

.collections_list_area {
    float: left;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.collection_item {
    cursor: pointer;
}

.item_wrapper {
    float: left;
    width: 230px;
    height: 320px;
    margin-right: 55px;
    margin-bottom: 20px;
}

.item_details {
    display: none;
    float: left;
    width: 200px;
    height: 85px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 11px;
}

.item {
	float: left;
	box-shadow: 3px 3px 30px #888;
}

.item_name {
    font-weight: bold;
    width: 100%;
    float: left;
}

.item_description {
    color: #666;
    float: left;
}

#ebooks_list {
    float: left;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}

#ebooks_list .item {
    border: 1px #666 solid;
    padding-top: 5px;
    width: 130px;
    height: 195px;
    text-align: center;
}

#books_list {
    float: left;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}

#books_list .item {
    border: 1px #666 solid;
    padding-top: 5px;
    width: 130px;
    height: 195px;
    text-align: center;
}
